@charset "UTF-8";
@import url("../css/font.css");
@import url("../css/reset.css");
body {
  font-family: "pretendard";
  overflow-x: hidden;
}

body.hidden {
  overflow: hidden;
}

main.hidden {
  overflow: hidden;
}

/* 애니메이션 */
.ani_top {
  opacity: 0;
  -webkit-transform: translateY(20rem);
          transform: translateY(20rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_right {
  opacity: 0;
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.ani_left {
  opacity: 0;
  -webkit-transform: translateX(-15rem);
          transform: translateX(-15rem);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.fade_in {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

/* skip 메뉴 */
#skip {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#skip a {
  position: absolute;
  left: 0;
  top: -4.4rem;
  display: block; /*생략 가능*/
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  background-color: #c2ae98;
  line-height: 44px;
  text-align: center;
  -webkit-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
#skip a:focus, #skip a:active {
  top: 0;
}

/* header */
#warm_people_hd {
  /* 사이트맵 */
}
#warm_people_hd .hd_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
#warm_people_hd .hd_container .hd_wrap {
  position: relative;
  height: 6rem;
}
#warm_people_hd .hd_container .hd_wrap h1 {
  position: relative;
  width: 20rem;
  padding: 2rem;
}
#warm_people_hd .hd_container .hd_wrap h1 a img {
  width: 100%;
}
#warm_people_hd .hd_container .hd_wrap .gnb_open {
  position: absolute;
  right: 2rem;
  top: 0.9rem;
  width: 4rem;
  height: 4rem;
}
#warm_people_hd .hd_container .hd_wrap .gnb_open .line {
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #000;
  overflow: hidden;
  text-indent: -9999rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#warm_people_hd .hd_container .hd_wrap .gnb_open .line1 {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
#warm_people_hd .hd_container .hd_wrap .gnb_open .line3 {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
#warm_people_hd .gnb_container {
  position: fixed;
  left: 0;
  top: -100vh;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: auto;
  -webkit-transition: top 0.8s;
  transition: top 0.8s;
  background-color: #fff;
  z-index: 101;
}
#warm_people_hd .gnb_container.active {
  top: 0;
  opacity: 1;
}
#warm_people_hd .gnb_container .logo {
  position: relative;
  width: 20rem;
  padding: 2rem;
}
#warm_people_hd .gnb_container .logo a img {
  width: 100%;
}
#warm_people_hd .gnb_container .gnb_close {
  position: absolute;
  right: 2rem;
  top: 0.9rem;
  width: 4rem;
  height: 4rem;
}
#warm_people_hd .gnb_container .gnb_close .line {
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: #000;
  overflow: hidden;
  text-indent: -9999rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#warm_people_hd .gnb_container .gnb_close .line {
  background-color: #333;
}
#warm_people_hd .gnb_container .gnb_close .line1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#warm_people_hd .gnb_container .gnb_close .line2 {
  opacity: 0;
}
#warm_people_hd .gnb_container .gnb_close .line3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#warm_people_hd .gnb_container .gnb_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100% - 6rem);
}
@media screen and (max-width: 1279px) {
  #warm_people_hd .gnb_container .gnb_wrap {
    display: block;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left {
  padding: 2rem 0 0 2rem;
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 {
    display: block;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 > a {
  display: block;
  width: 40rem;
  margin-bottom: 3rem;
  font-family: "GmarketSans";
  font-size: 4rem;
  opacity: 0.6;
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 > a:hover {
  opacity: 1;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 > a {
    display: inline-block;
    width: auto;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 > a.border {
    border-bottom: 1px solid #000;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 {
  display: none;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 {
    margin-left: 4rem;
  }
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2:last-child {
    margin-bottom: 2rem;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 li {
  padding-bottom: 1rem;
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 li::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.2rem;
  border: 0.1rem solid;
  border-width: 0.1rem 0 0 0.1rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 li::before {
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.3rem;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 li > a {
  padding-left: 1rem;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_left .depth1 .depth2 li > a {
    font-size: 1.8rem;
    font-weight: 500;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 57rem;
  background-color: #ededed;
}
@media screen and (max-width: 1279px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_right {
    width: 100%;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box {
  width: 45rem;
  padding: 3rem;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box {
    width: 100%;
    padding: 2rem;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box img {
  width: 100%;
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box h2 {
  margin: 3rem 0;
  font-size: 2.2rem;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box h2 {
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
  }
}
#warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  #warm_people_hd .gnb_container .gnb_wrap .gnb_right .gnb_rignt_box p br {
    display: none;
  }
}

/* footer */
#warm_people_ft {
  margin-top: 15rem;
  background-color: #c2ae98;
}
#warm_people_ft .warm_people_ft_container {
  max-width: 164rem;
  padding: 3rem 0;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  #warm_people_ft .warm_people_ft_container {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10rem;
    width: 100%;
    padding: 5rem 0;
  }
}
#warm_people_ft .warm_people_ft_container .ft_logo a {
  display: block;
  width: 20rem;
  padding-top: 2rem;
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container .ft_logo a {
    padding-top: 3rem;
  }
}
#warm_people_ft .warm_people_ft_container .ft_logo a img {
  width: 100%;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container .warm_people_ft_wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 10rem;
  }
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_info1 {
    margin-left: 5rem;
  }
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_info1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_info1 ul li a {
  display: block;
  width: 10rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_info1 p {
  width: 20rem;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: #fff;
  text-align: left;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_sns ul {
  width: 22rem;
  margin-top: 3rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_sns ul li {
  float: left;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_sns ul li a {
  display: block;
  padding-right: 3rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft-box1 .ft_sns ul li:last-child {
  margin-top: 0.3rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1279px) {
  #warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 {
    width: 50rem;
  }
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 .ft_info2 ul {
  margin-top: 3rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 .ft_info2 ul li {
  float: left;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 .ft_info2 ul li a {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  padding-right: 1rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 address {
  margin-top: 2rem;
}
#warm_people_ft .warm_people_ft_container .warm_people_ft_wrap .ft_box2 address div {
  font-size: 1.3rem;
  color: #fff;
}

/* 게시판 */
.warm_container {
  padding-top: 5rem;
  font-size: 1.6rem;
}
.warm_container .warm-wrap {
  max-width: 150rem;
  margin: 0 auto;
}
.warm_container .warm-wrap h3 {
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: "pretendard";
  text-align: center;
}