/* banner */
#main_sub_banner {
  position: relative;
  padding-top: 6rem;
}
#main_sub_banner .main_banner_wrap {
  width: 100%;
  height: 20rem;
}
#main_sub_banner .main_banner_wrap .main_banner {
  width: 100%;
  height: 100%;
}
#main_sub_banner .main_banner_wrap .main_banner .main_banner_img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../images/sub_header_1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#main_sub_banner .main_banner_wrap .main_banner .main_banner_img::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: "";
  opacity: 0.2;
}
#main_sub_banner .main_banner_wrap .main_banner .main_banner_img .main_banner_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#main_sub_banner .main_banner_wrap .main_banner .main_banner_img .main_banner_txt span {
  font-size: 1.6rem;
  color: #fff;
  opacity: 0.9;
}
#main_sub_banner .main_banner_wrap .main_banner .main_banner_img .main_banner_txt h1 {
  font-size: 4rem;
  color: #fff;
}

/* lnb */
.lnb_container {
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
.lnb_container .lnb_wrap {
  position: relative;
  z-index: 1;
}
.lnb_container .lnb_wrap .lnb_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.3rem;
}
.lnb_container .lnb_wrap .lnb_box .lnb_home {
  width: 6rem;
  border-right: 1px solid #ddd;
}
.lnb_container .lnb_wrap .lnb_box .lnb_home a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/lnb_home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
}
.lnb_container .lnb_wrap .lnb_box .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  background-color: #f9f9f9;
}
.lnb_container .lnb_wrap .lnb_box .flexbox li {
  padding: 1.45rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.lnb_container .lnb_wrap .lnb_box .flexbox li a {
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lnb_container .lnb_wrap .lnb_box .flexbox li a.active9 {
  width: 13.5rem;
}
.lnb_container .lnb_wrap .lnb_box .flexbox li a:hover {
  color: #fabc00;
}
.lnb_container .lnb_wrap .lnb_box .flexbox li a span {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 2rem;
  margin-bottom: 0.3rem;
  border: 0.1rem solid;
  border-width: 0.1rem 0 0 0.1rem;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.lnb_container .lnb_wrap .lnb_box .flexbox li a .arrow {
  margin-left: 7rem;
}
.lnb_container .lnb_wrap .lnb_box .depth2 {
  position: relative;
  left: -0.1rem;
}
.lnb_container .lnb_wrap .lnb_box .pc_lnb {
  display: none;
}

/* map */
.map_container .map_wrap {
  position: relative;
  max-width: 110rem;
  margin: 0 auto;
}
.map_container .map_wrap .map_box {
  margin-top: 5rem;
}
.map_container .map_wrap .map_box .map {
  position: relative;
  width: 100%;
  padding-top: 80%;
}
.map_container .map_wrap .map_box .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.map_container .map_wrap .map_box .map_txt_box {
  display: inline-block;
  margin-top: 3rem;
  margin-left: 2rem;
}
.map_container .map_wrap .map_box .map_txt_box .map_title {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  border-top: 1px solid #fabc00;
}
.map_container .map_wrap .map_box .map_txt_box .map_flex .map_txt {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}
.map_container .map_wrap .map_box .map_txt_box .map_flex .map_txt span {
  display: inline-block;
  width: 8rem;
  font-weight: 600;
  color: black;
}