html {
    font-size: 10px;
    scroll-behavior: smooth;
    line-height: 1.6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:before, :after {
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #222;
}
img {
    vertical-align: top;
    border: 0;
}
a:focus,button:focus {
    outline: 0;
}
address,i,em {
    font-style: normal;
}
label,button {
    cursor: pointer;
}
.blind {
    position: absolute;
    left: -9999em;
}
table {
    border-collapse: collapse;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
button {
    border: 0;
    background-color: transparent;
}
body {
    box-sizing: border-box;
}
.hide {
    display: none;
}
/*.skip a{
    position: absolute;
    top:-200px;
    width: 100%;
    height: ; 주고싶은만큼
    line-height: 50px;
    text-align: center;
}
.skip a:focus {
    top:0;
}*/

/* slick */
.slick-arrow {
    position: absolute;
    right: 4rem;
    bottom:0;
    width: 32px;
    height: 32px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-indent: -9999em;
    overflow: hidden;
}
.slick-arrow::before {
    position: absolute;
    left: 50%;
    top:50%;
    width: 8px;
    height: 8px;
    margin:-4px 0 0 -2px;
    border: 2px solid #ccc;
    border-width: 2px 0 0 2px;
    transform: rotate(-45deg);
    content: '';
}
.slick-prev {
    position: absolute;
    right: 8rem;
}
.slick-next:before {
    margin:-4px 0 0 -6px;
    transform: rotate(135deg);
}
