@charset "UTF-8";
/* 테블릿 */
@media screen and (min-width: 768px) {
  #main_sub_banner .main_banner_wrap {
    height: 25rem;
  }
  #main_sub_banner .main_banner_wrap .main_banner {
    height: 100%;
  }
  .lnb_container {
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  .lnb_container .lnb_wrap .lnb_box {
    height: 5.9rem;
  }
  .lnb_container .lnb_wrap .lnb_box .lnb_home {
    width: 7rem;
  }
  .lnb_container .lnb_wrap .lnb_box .flexbox {
    font-size: 1.9rem;
  }
  .lnb_container .lnb_wrap .lnb_box .flexbox.depth2 {
    display: none;
  }
  .lnb_container .lnb_wrap .lnb_box .flexbox li a span {
    width: 1.2rem;
    height: 1.2rem;
  }
  .lnb_container .lnb_wrap .lnb_box .flexbox li a .arrow {
    margin-left: 8rem;
  }
  .lnb_container .lnb_wrap .lnb_box .pc_lnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.9rem;
  }
  .lnb_container .lnb_wrap .lnb_box .pc_lnb li a {
    width: 12rem;
    display: block;
    padding: 1.45rem;
    border-right: 1px solid #ddd;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .lnb_container .lnb_wrap .lnb_box .pc_lnb li a:hover {
    color: #fabc00;
  }
  .main_long_container {
    margin-top: 10rem;
  }
  .main_long_container .main_long_wrap .main_long_img {
    width: 80%;
    padding-top: 50%;
  }
  .main_long_container .main_long_wrap .main_long_txt1 {
    top: 38%;
    left: 50%;
    width: 100%;
    font-size: 5rem;
    color: #fff;
    line-height: 1.3;
    text-align: center;
    -webkit-transform: translate(-50%, -38%);
            transform: translate(-50%, -38%);
  }
  .main_long_container .main_long_wrap .main_long_txt1 .life {
    padding-left: 2rem;
  }
  .main_long_container .main_long_wrap .main_long_txt2 {
    position: absolute;
    top: 75%;
    left: 80%;
    font-size: 1.8rem;
    text-align: left;
    -webkit-transform: translate(-60%, -75%);
            transform: translate(-60%, -75%);
  }
  .main_long_container .main_long_wrap .main_long_txt2::before {
    left: -9rem;
    top: 7%;
    width: 6rem;
    height: 1rem;
    content: "";
  }
  .main_history_container {
    margin-top: 10rem;
  }
  .main_history_container .main_history_wrap {
    margin: 0 auto;
  }
  .main_history_container .main_history_wrap .main_histroy_box {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    width: 100%;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt {
    width: 45%;
    margin-left: 9rem;
    padding-left: 0%;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt h3 {
    font-size: 4rem;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt p {
    padding-top: 2rem;
    font-size: 1.7rem;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_img {
    padding-top: 53%;
  }
  .main_value_container .main_value_wrap .main_value_box .value_title {
    font-size: 4rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox {
    width: 57rem;
    margin: 5rem auto 0 auto;
    padding-left: 5rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    margin-top: 0.5rem;
    padding: 2rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt .title {
    width: 19rem;
    font-size: 3rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt .content {
    padding: 1rem 0;
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .main_policy_container .main_policy_wrap h3 {
    font-size: 5rem;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy {
    padding: 7rem;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy .policy_txt1 {
    font-size: 3rem;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy .policy_txt2 {
    font-size: 1.8rem;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy1::before {
    position: absolute;
    left: 6.3rem;
    bottom: 4rem;
    width: 17rem;
  }
}
/* PC */
@media screen and (min-width: 1280px) {
  #main_sub_banner .main_banner_wrap {
    height: 30rem;
  }
  #main_sub_banner .main_banner_wrap .main_banner .main_banner_img .main_banner_txt span {
    font-size: 2rem;
  }
  #main_sub_banner .main_banner_wrap .main_banner .main_banner_img .main_banner_txt h1 {
    font-size: 5rem;
  }
  .main_long_container {
    margin-top: 10rem;
  }
  .main_long_container .main_long_wrap .main_long_img {
    width: 80%;
    padding-top: 50%;
  }
  .main_long_container .main_long_wrap .main_long_txt1 {
    font-family: "GmarketSans";
    top: 38%;
    left: 50%;
    min-width: 90rem;
    font-size: 8rem;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    -webkit-transform: translate(-50%, -38%);
            transform: translate(-50%, -38%);
  }
  .main_long_container .main_long_wrap .main_long_txt1 .life {
    padding-left: 4rem;
  }
  .main_long_container .main_long_wrap .main_long_txt2 {
    position: absolute;
    top: 85%;
    left: 120%;
    font-size: 2rem;
    text-align: left;
    -webkit-transform: translate(-120%, -85%);
            transform: translate(-120%, -85%);
  }
  .main_long_container .main_long_wrap .main_long_txt2::before {
    left: -13rem;
    top: 7%;
    width: 10rem;
    height: 1.5rem;
    content: "";
  }
  .main_history_container .main_history_wrap .main_histroy_box {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt {
    width: 100%;
    margin-left: 0rem;
    margin-right: 15rem;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt h3 {
    font-size: 6rem;
    padding-top: 5rem;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_txt p {
    padding-top: 2rem;
    font-size: 2rem;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_img {
    padding-top: 50%;
    width: 100%;
  }
  .main_history_container .main_history_wrap .main_histroy_box .histroy_img:before {
    width: 100%;
  }
  .main_value_container .main_value_wrap {
    padding: 10rem 0;
  }
  .main_value_container .main_value_wrap .main_value_box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    gap: 25rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_title {
    margin-top: 4rem;
    font-size: 6rem;
    text-align: initial;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox {
    width: 60rem;
    margin: 0 auto;
    padding-left: 3rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt {
    padding: 2.5rem 0rem 2.5rem 2.5rem;
    margin-top: 2.7rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt .title {
    padding: 0;
    font-size: 3rem;
  }
  .main_value_container .main_value_wrap .main_value_box .value_txtbox .value_txt .content {
    padding: 0;
    margin-top: 0;
    font-size: 1.6rem;
  }
  .main_policy_container .main_policy_wrap h3 {
    font-size: 6rem;
  }
  .main_policy_container .main_policy_wrap .policy_box {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy {
    padding: 7rem;
  }
  .main_policy_container .main_policy_wrap .policy_box .policy .policy_txt2 {
    font-size: 1.8rem;
  }
}