/* banner */
#main_sub_banner {
    position: relative;

    padding-top: 6rem;
    .main_banner_wrap {
        width: 100%;
        // height: calc(100vh - 60rem);
        height: 20rem;
        .main_banner {
            width: 100%;
            height: 100%;
            .main_banner_img {
                position: relative;
                width: 100%;
                height: 100%;
                background-image: url('../images/sub_header_8.jpg');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                &::before {
                    position: absolute;
                    left: 0;
                    top:0;
                    width: 100%;
                    height: 100%;
                    background-color: #000;
                    content: '';
                    opacity: 0.2;
                }
                .main_banner_txt {
                    position: absolute;
                    top:50%;
                    left: 50%;
                    text-align: center;
                    transform: translate(-50%, -50%);
                    span {
                        font-size: 1.6rem;
                        color: #fff;
                        opacity: 0.9;
                    }
                    h1 {
                        font-size: 4rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}
/* lnb */
.lnb_container {
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    .lnb_wrap {
        position: relative;
        z-index: 1;
        .lnb_box {
            display: flex;
            height: 5.3rem;
            .lnb_home {
                width: 6rem;
                border-right: 1px solid #ddd;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/lnb_home.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 30%;
                }
            }
            .flexbox {
                display: flex;
                flex-direction: column;
                font-size: 1.5rem;
                background-color: #f9f9f9;
                li {

                    // width: 16rem;
                    padding: 1.45rem;
                    background-color: #f9f9f9;
                    border-bottom: 1px solid #ddd;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    a {
                        display: block;
                        transition: 0.4s;
                        &:hover {
                            color:#fabc00;
                        }
                        span {
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                            margin-left: 2rem;
                            margin-bottom: 0.3rem;
                            border: 0.1rem solid;
                            border-width: 0.1rem 0 0 0.1rem;
                            transform: rotate(225deg);
                        }
                        .arrow {
                            margin-left: 4rem;
                        }
                    }    
                }
            }
            .depth2 {
                position: relative;
                left: -0.1rem;
            }
            .pc_lnb {display: none;}
        }
    }
}
/* review */
.review_container {
    margin-top: 5rem;
    .review_wrap {
        position: relative;
        max-width: 164rem;
        margin: 0 auto;
        h3 {
            font-size: 3rem;
            margin-bottom: 5rem;
            text-align: center;
        }
        .review_flexbox {
            display: flex;
            flex-wrap: wrap;
            row-gap: 3rem;
            width: 90%;
            margin: 0 auto;
            text-align: justify;
            .review_box {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                width: 100%;
                .review_img  {
                    position: relative;
                    width: 100%;
                    padding-top: 50%;
                    a {
                        position: absolute;
                        top:0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        transition: 0.3s;
                        &:hover {
                            scale: 1.05;
                        }
                    }
                }
                .review_img1 {a {background-image: url(../images/review_1.jpg);}}
                .review_img2 {a {background-image: url(../images/review_2.jpg);}}
                .review_img3 {a {background-image: url(../images/review_3.jpg);}}
                .review_img4 {a {background-image: url(../images/review_5.jpeg);}}
                .review_img5 {a {background-image: url(../images/review_5.jpeg);}}
                .review_img6 {a {background-image: url(../images/review_6.jpg);}}
                .review_img7 {a {background-image: url(../images/review_7.jpg);}}
                .review_img8 {a {background-image: url(../images/review_8.jpg);}}
                .review_txt {
                    width: 100%;
                    padding-top: 2rem;
                    font-size: 1.5rem;
                }
            }
        }
        .review_flexbox2 {
            display: none;
            padding-top: 10rem;
        }
        .star_review {
            margin-top: 10rem;
            .star_title {
                margin: 0;
            }
            .star_flexbox {
                .star_1 {
                    display: none;
                    .star_box1 {
                        display: flex;
                        width: 50%;
                        .review_img2 {
                            position: relative;
                            width: 50%;
                            padding-top: 50%;
                            a {
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                        .star_txt {
                            width: 50%;
                            padding-left: 3rem;
                            font-size: 1.8rem;
                            text-align: justify;
                        }
                        .star_img1 {
                            a {
                                background-image: url('../images/star_review_1.jpg');
                            }
                        }
                        .star_img2 {
                            a {
                                background-image: url('../images/star_review_4.jpg');
                            }
                        }

                    }
                }
                .star_2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3rem;
                    margin-top: 5rem;
                    .star_box1 {
                        display: flex;
                        flex-wrap: wrap;
                        width: 90%;
                        margin: 0 auto;
                        .review_img2 {
                            position: relative;
                            display: flex;
                            width: 100%;
                            padding-top: 70%;
                            a {
                                position: absolute;
                                top:0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                        }
                        .star_txt {
                            width: 100%;
                            padding-top: 3rem;
                            font-size: 1.6rem;
                            text-align: justify;
                        }
                        .star_img3 {a{background-image: url('../images/star_review_2.jpg');}}
                        .star_img4 {a{background-image: url('../images/star_review_3.jpg');}}
                    }        
                }
            }
        }
    }
}